<div class="modal-header">
    <h4 class="modal-title">User card</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)"></button>
</div>
<div class="modal-body">
    <div class="user-form">
        <div class="user-form__content">
            <form [formGroup]="userForm">
                <input formControlName="userId" type="hidden" id="userId">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label for="firstName">First name</label>
                            <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="First name">
                            <p class="text-center" *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched">
                                <small *ngIf="userForm.get('firstName')?.errors?.['required']" class="text-danger">Field is required</small>
                                <small *ngIf="userForm.get('firstName')?.errors?.['minlength']" class="text-danger">Minimum length is 4</small>
                                <small *ngIf="userForm.get('firstName')?.errors?.['maxlength']" class="text-danger">Maximum length is 50</small>
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label for="lastName">Last name</label>
                            <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Last name">
                            <p class="text-center" *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched">
                                <small *ngIf="userForm.get('lastName')?.errors?.['required']" class="text-danger">Field is required</small>
                                <small *ngIf="userForm.get('lastName')?.errors?.['minlength']" class="text-danger">Minimum length is 4</small>
                                <small *ngIf="userForm.get('lastName')?.errors?.['maxlength']" class="text-danger">Maximum length is 50</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label for="address">Address</label>
                            <input formControlName="address" type="text" class="form-control" id="address" placeholder="Address">
                            <p class="text-center" *ngIf="userForm.get('address')?.invalid && userForm.get('address')?.touched">
                                <small *ngIf="userForm.get('address')?.errors?.['required']" class="text-danger">Field is required</small>
                                <small *ngIf="userForm.get('address')?.errors?.['minlength']" class="text-danger">Minimum length is 4</small>
                                <small *ngIf="userForm.get('address')?.errors?.['maxlength']" class="text-danger">Maximum length is 100</small>
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label for="phoneNumber">Phone number</label>
                            <input formControlName="phoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="Phone number">
                            <p class="text-center" *ngIf="userForm.get('phoneNumber')?.invalid && userForm.get('phoneNumber')?.touched">
                                <small *ngIf="userForm.get('phoneNumber')?.errors?.['required']" class="text-danger">Field is required</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label for="birthDate">Birth date</label>
                            <input formControlName="birthDate" type="date" class="form-control" id="birthDate" placeholder="Birth date">
                            <p class="text-center" *ngIf="userForm.get('birthDate')?.invalid && userForm.get('birthDate')?.touched">
                                <small *ngIf="userForm.get('birthDate')?.errors?.['required']" class="text-danger">Field is required</small>
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label for="email">Email</label>
                            <input formControlName="email" type="text" class="form-control" id="email" placeholder="Email">
                            <p class="text-center" *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
                                <small *ngIf="userForm.get('email')?.errors?.['required']" class="text-danger">Field is required</small>
                                <small *ngIf="userForm.get('email')?.errors?.['email']" class="text-danger">Invalid email</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="registration-form__buttons text-center parent-container">
                    <button type="button" class="btn btn-lg px-5 mx-2 btn-danger" (click)="activeModal.close(false)">Cancel</button>
                    <button [disabled]="userForm.invalid" class="btn submit-btn btn-success btn-lg px-5 mx-2" (click)="onSubmit()" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    
</div>