<div class="books-table-wrapper">
    <div class="books-table__header">
        <div class="books-table__search">
            <div class="form-group">
                <input [(ngModel)]="searchQuery" type="text" class="form-control" id="search">
            </div>
            <button (click)="onSearchClick()" type="button" class="btn btn-primary">{{ 'search' | translateAsync }}</button>
        </div>
        <div class="books-table__statistics">
            <button (click)="onGetMostPopularBooksButtonClick()" type="button" class="btn btn-primary">{{ 'getMostPopularBooks' | translateAsync }}</button>
            <div class="books-table__most-popular-in-genre">
                <select class="form-select" [(ngModel)]="selectedGenreId">
                    <option *ngFor="let genre of genres$ | async; trackBy: identify" [value]="genre.enumItemId" [label]="genre.value"></option>
                </select>
                <button (click)="onGetMostPopularBooksInGenreButtonClick()" type="button" class="btn btn-primary">{{ 'getMostPopularBooksInGenre' | translateAsync }}</button>
            </div>
        </div>
    </div>
    <div class="books-table__add-button-wrapper">
        <button class="btn btn-primary" (click)="onEditButtonClick(emptyGuid)">+</button>
    </div>
    <div class="users-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ 'title' | translateAsync }}</th>
                    <th scope="col">{{ 'author' | translateAsync }}</th>
                    <th scope="col">{{ 'isbn' | translateAsync }}</th>
                    <th scope="col">{{ 'publicationDate' | translateAsync }}</th>
                    <th scope="col">{{ 'description' | translateAsync}}</th>
                    <th scope="col">{{ 'keyWords' | translateAsync }}</th>
                    <th scope="col">{{ 'department' | translateAsync}}</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books$ | async; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.publicationDate }}</td>
                    <td>{{ book.description }}</td>
                    <td>{{ book.keyWords }}</td>
                    <td>{{ book.departmentName }}</td>
                    <td><button type="button" class="btn btn-primary" (click)="onBooksButtonClick(book.bookId)">{{ 'copies' | translateAsync }}</button></td>
                    <td><button type="button" class="btn btn-primary" (click)="onEditButtonClick(book.bookId)">{{ 'edit' | translateAsync }}</button></td>
                    <td><button type="button" class="btn btn-danger" (click)="onDeleteButtonClick(book.bookId)">{{ 'delete' |translateAsync }}</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>