<header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 w-100 justify-content-between">
            <div class="main-navs">
                <li *ngIf="isAdminOrLibrarian()" class="d-flex nav-item align-items-center">
                    <button (click)="onButtonClick($event)" id="booksBtn" type="button" routerLink="../books" class="btn btn-light px-4 me-2" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
                        <b>Книги</b>
                    </button>
                </li>
                <li *ngIf="isAdminOrLibrarian()" class="d-flex nav-item align-items-center">
                    <button (click)="onButtonClick($event)" id="usersBtn" type="button" routerLink="../users" class="btn btn-light px-4 me-2" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
                        <b>Користувачі</b>
                    </button>
                </li>
                <li *ngIf="isAdminOrLibrarian()" class="d-flex nav-item align-items-center">
                    <button (click)="onButtonClick($event)" id="departmentsBtn" type="button" routerLink="../departments" class="btn btn-light px-4 me-2" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
                        <b>Відділи</b>
                    </button>
                </li>
                <li *ngIf="isAdminOrLibrarian()" class="d-flex nav-item align-items-center">
                    <button (click)="onButtonClick($event)" id="genresBtn" type="button" routerLink="../genres" class="btn btn-light px-4 me-2" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
                        <b>Жанри</b>
                    </button>
                </li>
                <li *ngIf="isAdmin()" class="d-flex nav-item align-items-center">
                    <button (click)="onButtonClick($event)" id="administrationBtn" type="button" routerLink="../administration" class="btn btn-light px-4 me-2" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
                        <b>Адміністрування</b>
                    </button>
                </li>
            </div>
            <div class="auth-navs">
                <li *ngIf="!isLoggedIn()" class="d-flex nav-item align-items-center">
                    <button (click)="onButtonClick($event)" id="loginBtn" type="button" routerLink="../login" class="btn btn-light px-4 me-2" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
                        <b>Login</b>
                    </button>
                </li>
                <li *ngIf="isLoggedIn()" class="d-flex nav-item align-items-center">
                    <button (click)="logout()" type="button" routerLink="../login" class="btn btn-light px-4 me-2" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
                        <b>Logout</b>
                    </button>
                </li>
                <li class="d-flex nav-item align-items-center">
                    <button (click)="onButtonClick($event)" id="registrationBtn" type="button" routerLink="../registration" class="btn btn-light px-4 me-2" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
                        <b>Register</b>
                    </button>
                </li>
            </div>
        </ul>
    </nav>
</header>